<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean id="mesHandler" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
<!--        <property name="locations">-->
<!--            <list>-->
<!--                <value>db.properties</value>-->
<!--            </list>-->
<!--        </property>-->

<!--    </bean>-->

    <bean id="mesHandler2" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>db.properties</value>
               <!-- <value>application.properties</value>-->
            </list>
        </property>
        <property name="properties" ref="yamlHandler"></property>
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.url}"></property>
        <property name="driverClassName" value="${jdbc.driver-class-name}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="username" value="${jdbc.username}"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="mybatis-config.xml"></property>
        <property name="dataSource" ref="dataSource"></property>
    </bean>

<!--    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        <property name="mapperInterface" value="com.demo.mapper.UserMapper"></property>-->
<!--        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
<!--    </bean>-->

    <bean id="mapperScannerConfig" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 如果这里面使用el表达式、${basePackage}
             processPropertyPlaceHolders必须开启
             由于在加载MapperScannerConfigurer继承
             BeanDefinitionRegistryPostProcessor
             在项目启动的时候就会被加载并且比BeanFactoryProcessors
             的调用要早
        -->
        <property name="basePackage" value="${basePackage}"></property>
        <property name="processPropertyPlaceHolders" value="true"></property>
        <property name="annotationClass" value="com.demo.annotation.CustomizeScanner"></property>
        <property name="markerInterface" value="com.demo.maker.ScannerMarkerInterface"></property>
    </bean>

    <bean id="yamlHandler" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
        <property name="resources" value="application.yml"></property>
    </bean>

    <bean id="bbb" class="com.demo.mapper.BBB"></bean>
</beans>